.filtros-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .filtro-item {
    margin: 5px;
  }
  
  .small-label {
    font-size: 10px;
    margin-bottom: 2px;
  }
  
  .small-select {
    height: 24px;
    font-size: 10px;
    padding: 2px 4px;
    width: 100px;
  }
  